@font-face {
  font-family: futura;
  src: url(FuturaStdBold.woff);
}

body {
  font-family: futura, serif;
  background: linear-gradient(to right, #ebe8e8, #f2f2f2, #FFFFFF);
}

.title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: x-large;
  justify-content: center;
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  width: 20%;
  margin-left: 0;
  box-shadow: black 10px;
}

.navigation{
  
}

